.slideshow-container {
  position: relative;
  width: 100%;
  height: 300px; /* Hauteur limite du slideshow */
  overflow: hidden; /* Masquer le contenu qui dépasse */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  cursor: grab; /* Indiquer que l'utilisateur peut glisser */
}

.slides {
  height: 100%;
  overflow: hidden; /* Désactiver le défilement natif */
  scroll-behavior: smooth; /* Défilement fluide */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.slideshow-container.dragging {
  cursor: grabbing; /* Indique l'état de glissement */
}



.team-block {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
